@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

body {
  background: linear-gradient(50deg, #aca90a, #890000, #004ed0);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  -o-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;
}

div {
  display: block;
}

#name {
  padding-top: 5%;
  margin-top: 0px;
  font-size: 4.55em;
  font-family: Inconsolata;
  color: white;
  text-shadow: 1.5px 1.5px 1.5px #000000;
}

#main-content {
  font-family: Anonymous Pro;
  font-size: 1.25em;
  text-shadow: 1.5px 1.5px 1.5px #000000;
  max-width: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5%;
  border: 10px;
  color: white;
}

#social-buttons {
  width: 60%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5%;
}

.icons {
  margin-right: 2%;
  margin-left: 2%;
  color: white;
}

.icons:hover {
  color: pink;
}