body {
  background: #003541;
  background-size: 1200% 1200%;
}

div {
  display: block;
}

#main-header {
  margin-top: 60px;
  margin-bottom: 35px;
}

#name {
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 4.55em;
  font-family: Inconsolata;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}

#sub {
  font-family: Roboto Mono;
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #000000;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#main-content {
  font-family: Anonymous Pro;
  font-size: 1.25em;
  text-shadow: 1px 1px 1px #000000;
  max-width: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 10px;
  color: white;
}

.links {
  color: #4ee9ff;
}

.links:hover {
  color: #8ad00f;
}

#resume {
  font-size: 1.25em;
  text-align: center;
}

#social-buttons {
  width: 75%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.icons {
  margin-right: 2%;
  margin-left: 2%;
  color: white;
}

.icons:hover {
  color: pink;
}
